body {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Coustard', serif;
  color: black;
}

header .title {
  font-size: 48px;
  text-align: center;
  margin: 20px;
  color: darkred;
}

#main-game-section {
  text-align: center;
  font-size: 24px;
  line-height: 2em;
}

#time-remain-section {
  margin-top: 50px;
}

#question-result-section {
  margin: 40px;
}

button {
  display: block;
  background-color: transparent;
  border-color: transparent;
  font-size: 24px;
  width: auto;
  margin: auto;
  font-family: 'Coustard', serif;
}

button:hover {
  background-color: lightblue;
  /* border-color: blue; */
}

#start-btn-section button, #restart-btn-section button {
  width: 30%;
  margin-top: 30px;
}

#choices-section button {
  width: auto;
}
